*{
    font-family: sans-serif;
}

body {
    background-image: url(../media/img/fondo-login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

body.light{
    background-image: url(../media/img/fondo-login-claro.jpg);
}
body.light, body.light section div h2, body.light section div h4, body.light section div p {
    color: black;
    transition: all 0.5s ease;
}

body.light div.row div.carteleras, body.light div.row h4 a{
    background-color: #212529;
    color:rgb(255, 235, 235);

}

body.light div.row h4 a, body.light header div nav.navbar{
    background-color: rgb(255, 235, 235);
    color: rgb(41, 19, 19);
}

body.light p, body.light h5{

    color: black;
}

body p, body h5{
    color: white;
}

body.light main header div nav.navbar, body.light footer{
    background-color: rgb(255, 255, 255) !important;
}

body.light main header div nav.navbar li a, body.light footer {
    color: black !important;
}

body main header div nav.navbar, body footer{
    background-color: #212529 !important;
}

body.light main header div nav.navbar label#iconito{
    color: black !important;
}

body.light main header div input#buscador{
    color: black !important;
    margin: auto;
    border: solid black 2px;
    border-radius: 5px;
}

body.light div.calendario{
    background-color:black;
    color:white;
    width: 500px;
    margin: auto;
    top: 20px;
}

body.light img.img-info{
    width: 200px;
    height: 250px;
    border-radius: 80px;
    border: solid 2px white;
    margin-left: 55px;
}

body.light .img-info-others{
    width: 200px;
    height: 250px;
    border-radius: 80px;
    border: solid 2px white;
    margin-left: 140px;
}


body.light div.Contenedor-sobrenosotros, body.light div.Contenedor-sobrenosotros nav, body.light div.Contenedor-sobrenosotros nav ul li a{
    background-color: black !important;
    border: solid 3px white !important;
    color: white !important;
}

body.light p.texto{
    color: white;
}

body.light ul.texto{
    color: white;
}

body.light h4.titulos-sobrenosotros{
    background-color: black;
    border: solid 3px white;
}

.derecha{
    display: flex;
    justify-content: end;
    align-items: end;
}

.banner {
    background: linear-gradient(#171C1F, #5C0005);
}

.banner div img {
    width: 100%;
    height: 700px;
}

#sectionCarrousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-navbar{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: 0;
}

body.light main header div img#logo-navbar{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #212529;
    border-radius: 100%;
    padding: -5px;
}

.carteleras{
    background-color: rgb(255, 235, 235); 
    max-width: 240px;
    min-width: 220px;
    width: 200px;
    max-height: 380px;
    min-height: 356px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 15px;
}

.carteleras-img {
    height: 300px;
    width: 180px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

.carteleras-img::hover {
    height: 300px;
    width: 180px;
    margin-top: 10px;
    color: rgba(17, 17, 17, 0.897);
    border-radius: 5px;
    padding: 4px;
}

#titulo-peliculas{
    width: 180px;
}

.container-slider {
    margin-top: 5px;
    text-align: center;
    width:360px;
    padding: 10px;
    color: white;
    align-items: center;
}

#img-slider{
    width: 360px;
    height: 500px;
}


.seccion-carteleras{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    padding: 50px;
}

.Sinopsis{
    display: flex;
    column-gap: 5px;
}

.sinopsis-img{
    margin-top:10px;
    margin-left: 10px;
    width: 190px;
}

.Sinopsis-Datos{
    color: white;
    justify-content: center;
    margin-inline-end: 10px;
}

.Sobre-Nosotros{
    justify-content: center;
    color: white;
}

#toggle{
    display: none;
}

#iconito{
    position: relative;
    top: 0px;
    margin: auto;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.filtro{
    display: none;
}

#buscador{
    color: white;
    margin: auto;
    border: solid white 2px;
    border-radius: 5px;

}

.info{
    display: flex;
    flex-wrap:wrap;
    columns: wrap;
}

.links-info{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    columns: wrap;
}

.Contenedor-sobrenosotros{
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;
    margin: 20px auto;

} 

.SobreNosotros{
    margin-top: 10px;
}

.CartasSobrenosotros{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.titulos-sobrenosotros{
    background-color: gray;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: solid 2px black;
}

.texto{
    color: black;
}

.img-info{
    width: 200px;
    height: 250px;
    border-radius: 80px;
    border: solid 2px black;
    margin-left: 55px;

}

.img-info-others{
    width: 200px;
    height: 250px;
    border-radius: 80px;
    border: solid 2px black;
    margin-left: 140px;
}

.infosper{
    color: black;
}

.categorias{
    border: solid white 2px;
}

footer{
    position:static;
    bottom: 0;
}

.calendario{
    background-color: white;
    width: 500px;
    margin: auto;
    top: 20px;
}



